@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.anchor {
  height: 170px;
  width: 100%;
}

@media screen and (min-width: 1250.01px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1249.98px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767.98px) {
  .container {
    max-width: 420px;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
html {
  --black-text: #212121;
  --grey-text: #646464;
  --brown-text: #CAA892;
  --white-text: #FFFFFF;
  --green-text: #37806B;
  --orange-text: #B0855B;
  --black-block: #212121;
  --light-grey-block: #E0E0E0;
  --grey-block: #646464;
  --brown-block: #CAA892;
  --white-block: #FFFFFF;
  --green-block: #37806B;
  --black-border: #212121;
  --brown-border: #CAA892;
  --white-border: #FFFFFF;
  --green-border: #37806B;
  --orange-border: #B0855B;
  --grey-background: #F8F8F8;
  --grey-underline: #C4C4C4;
  --grey-input: #EEEEEE;
  --grey-medias: #D5D5D5;
  --green-medias: #37806B;
  --invalid: #cb2f2f;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Basic Sans SF";
  src: url("../fonts/BasicSansSFBold.eot");
  src: url("../fonts/BasicSansSFBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasicSansSFBold.woff2") format("woff2"), url("../fonts/BasicSansSFBold.woff") format("woff"), url("../fonts/BasicSansSFBold.svg#BasicSansSFBold") format("svg");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: 400;
  font-display: swap;
}
.footer__copyright, .footer__lists p,
.footer__lists a, .shop__wrapper p, .blog__articles__article p, .clients__slider__wrapper__item p, .stats__wrapper p, .about__top p, .project__content p {
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  color: var(--grey-text);
  font-size: 1.125em;
  line-height: 166.667%;
}

.shop__wrapper h2, .blog__wrapper h2, .clients__wrapper h2, .stats__wrapper h2, .about__wrapper h2, .services h2 {
  color: var(--black-text);
  font-family: "Poppins", Tahoma, Verdana, sans-serif;
  font-size: 3em;
  font-weight: 500;
}

.blog__wrapper h3, .clients__wrapper h3, .about__top h3, .services h3, .project__content h3 {
  color: var(--grey-text);
  font-family: "Poppins", Tahoma, Verdana, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}

.shop__form input[type=button], .blog__articles__article a, .about__wrapper a, .project__content a {
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  font-weight: 700;
  line-height: 433.333%;
  text-decoration: none;
  background-color: var(--green-block);
  color: var(--white-text);
  border: 1px var(--green-border) solid;
  border-radius: 15px 0;
  padding: 4px 18px;
  transition: all 0.15s;
}
.shop__form input[type=button]:hover, .blog__articles__article a:hover, .about__wrapper a:hover, .project__content a:hover {
  background-color: var(--white-block);
  color: var(--green-text);
}

.blog__articles__article__image, .about__bottom__image, .about__top__image, .project__image {
  border: 2px solid var(--orange-border);
  border-radius: 140px 0px;
  width: 100%;
  height: 615px;
  position: relative;
}

.blog__articles__article__image img, .about__bottom__image img, .about__top__image img, .project__image img {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes loading {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-50%);
  }
}
.loading {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white-block);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 1;
  transition: all 0.3s;
}
.loading__round {
  width: 20px;
  height: 20px;
  background-color: var(--grey-block);
  border-radius: 50%;
  animation: loading 1s infinite ease-in-out;
}
.loading :nth-child(2) {
  animation-delay: 0.1s;
}
.loading :nth-child(3) {
  animation-delay: 0.2s;
}
.loading :nth-child(4) {
  animation-delay: 0.3s;
}
.loading :nth-child(5) {
  animation-delay: 0.4s;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--white-block);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__nav a {
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header__nav ul li a {
  padding: 5px 10px;
  color: var(--black-text);
  border: 5px var(--white-border) solid;
  border-radius: 20px;
  transition: all 0.15s;
}
.header__nav ul li a:hover {
  color: var(--green-text);
  border-color: var(--green-border);
}
.header__nav__sign-in {
  padding: 4px 18px;
  border: 1px var(--brown-border) solid;
  border-radius: 15px 0;
  background-color: var(--brown-block);
  color: var(--white-text);
  transition: all 0.15s;
}
.header__nav__sign-in:hover {
  background-color: var(--white-block);
  color: var(--brown-text);
}
.header__progress-bar {
  width: 99.9%;
  height: 3px;
  background: var(--black-block);
  opacity: 0.7;
}
.header__progress-bar__progressed {
  width: 0%;
  height: 3px;
  background: var(--green-block);
}

.project {
  margin: 0 0 50px;
  position: relative;
}
.project .decore {
  position: absolute;
  top: 90%;
  left: 0;
}
.project__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.project__content h2 {
  font-family: "Poppins", Tahoma, Verdana, sans-serif;
  color: var(--black-text);
  font-size: 4.75em;
  font-weight: 600;
  line-height: 108.333%;
  margin-bottom: 25px;
}
.project__content p {
  margin-bottom: 50px;
}
.project__image img {
  bottom: 30px;
  right: 30px;
}

.services {
  margin-top: 50px;
  position: relative;
}
.services .decore {
  position: absolute;
  right: 0;
  top: 100%;
}
.services h2 {
  margin-bottom: 30px;
}
.services__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.services__buttons__button {
  width: 20%;
  padding: 5px 10px;
  background-color: var(--green-block);
  color: var(--white-text);
  border: 5px var(--green-border) solid;
  border-radius: 20px;
  transition: all 0.15s;
  cursor: pointer;
}
.services__buttons__button:hover, .services__buttons__button__active {
  color: var(--green-text);
  background-color: var(--white-block);
}
.services__item-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 90px;
}
.services__item-wrapper__post {
  padding: 10px;
  width: 20%;
  border-radius: 60px 0px;
  background-color: var(--white-block);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
  padding: 25px;
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  transition: all 0.15s;
  cursor: pointer;
}
.services__item-wrapper__post .title {
  color: var(--black-text);
  font-size: 1.5em;
  font-weight: 700;
}
.services__item-wrapper__post .description {
  color: var(--grey-text);
  font-size: 1.125em;
}
.services__item-wrapper__post:hover {
  background-color: var(--brown-block);
}
.services__item-wrapper__post:hover h2, .services__item-wrapper__post:hover p {
  color: var(--white-text);
}

.about {
  margin-top: 250px;
  position: relative;
}
.about .decore {
  position: absolute;
}
.about .decore-top {
  left: 0;
  top: 50%;
}
.about .decore-bottom {
  right: 0;
  top: 80%;
}
.about__wrapper h2 {
  line-height: 118.75%;
  margin: 30px 0;
}
.about__top {
  display: flex;
  flex-direction: row-reverse;
  gap: 150px;
}
.about__top__content {
  width: 100%;
  margin-top: 30px;
}
.about__top__image img {
  top: 30px;
  left: 30px;
  border-radius: 140px 0px;
}
.about__bottom {
  margin-top: 200px;
  background-color: var(--white-block);
  display: flex;
  align-items: center;
  gap: 150px;
}
.about__bottom__content p {
  background: url(../images/twenty-background.png) 12px 100px;
  -webkit-background-clip: text;
          background-clip: text;
  height: 350px;
  color: transparent;
  font-size: 18em;
  font-weight: 700;
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
}
.about__bottom__content h2 {
  margin: 10px 0 20px;
}
.about__bottom__image {
  width: 70%;
}
.about__bottom__image img {
  bottom: 30px;
  right: 30px;
  border-radius: 140px 0px;
}

.stats {
  background-color: var(--grey-background);
  margin-top: 250px;
  padding: 100px 0;
  position: relative;
}
.stats .decore {
  position: absolute;
  top: 90%;
  left: 0;
}
.stats__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats__wrapper h2 {
  width: 55%;
  text-align: center;
}
.stats__statistics {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 90px 0 0;
}
.stats__statistics h2 {
  margin: 0;
}
.stats__statistics__card {
  border-radius: 40px 0px;
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}
.stats__statistics__card:nth-child(1), .stats__statistics__card:nth-child(5) {
  margin-bottom: 100px;
}
.stats__statistics__card:nth-child(3), .stats__statistics__card:nth-child(7) {
  margin-top: 100px;
}
.stats__statistics__card h2 {
  font-weight: 700;
  text-align: center;
}
.stats__statistics__card:hover {
  background-color: var(--brown-block);
}
.stats__statistics__card:hover h2,
.stats__statistics__card:hover p {
  color: var(--white-text);
}
.stats__statistics__line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats__statistics__line .line {
  background-color: var(--light-grey-block);
  position: absolute;
}
.stats__statistics__line .center-line {
  width: 2px;
  height: 50%;
}
.stats__statistics__line .top-line,
.stats__statistics__line .bottom-line {
  width: 50%;
  height: 2px;
}
.stats__statistics__line .top-line {
  top: 25%;
  left: 0;
}
.stats__statistics__line .bottom-line {
  bottom: 25%;
  right: 0;
}
.stats__statistics__line:nth-child(4) .top-line {
  top: 75%;
  left: 0;
}
.stats__statistics__line:nth-child(4) .bottom-line {
  bottom: 75%;
  right: 0;
}

.clients {
  margin-top: 130px;
}
.clients__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-self: flex-end;
  margin-right: 120px;
}
.clients__buttons button {
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  background-color: var(--white-block);
  color: var(--grey-text);
  font-weight: 700;
  border: none;
  border-radius: 50%;
  box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.15s;
}
.clients__buttons button:hover {
  background-color: var(--green-block);
  color: var(--white-text);
}
.clients__slider {
  width: 92%;
  overflow: hidden;
  margin: 100px 0 250px;
}
.clients__slider__wrapper {
  display: flex;
  gap: 80px;
  transition: transform 0.3s ease-in-out;
}
.clients__slider__wrapper__item:nth-child(even)::before, .clients__slider__wrapper__item:nth-child(odd)::before {
  content: "";
  width: 130px;
  height: 130px;
  position: absolute;
  top: 25%;
  right: 92%;
  border-radius: 35px 0px;
}
.clients__slider__wrapper__item:nth-child(even)::after, .clients__slider__wrapper__item:nth-child(odd)::after {
  content: "”";
  position: absolute;
  top: 15%;
  right: 8%;
  color: var(--orange-text);
  font-family: "Basic Sans SF", Tahoma, Verdana, sans-serif;
  font-size: 6em;
  font-weight: 700;
}
.clients__slider__wrapper__item:nth-child(even)::before {
  background-image: url(../images/woman.png);
}
.clients__slider__wrapper__item:nth-child(odd)::before {
  background-image: url(../images/man.png);
}
.clients__slider__wrapper__item {
  flex: 0 0 47%;
  border-radius: 70px 0px;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  padding: 50px 40px 60px 110px;
  transform: scale(0.8);
  position: relative;
}
.clients__slider__wrapper__item .author {
  display: flex;
  align-items: baseline;
  gap: 5px;
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
}
.clients__slider__wrapper__item .author h4 {
  color: var(--black-text);
  font-size: 1.5em;
  font-weight: 700;
}
.clients__slider__wrapper__item .author span {
  color: var(--grey-text);
  font-size: 1em;
}

.blog {
  padding: 0 0 130px;
  background-color: var(--grey-background);
}
.blog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__wrapper h2 {
  margin: 20px 0 80px;
}
.blog__articles {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.blog__articles__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__articles__article h4 {
  margin: 40px 0 20px 45px;
  color: var(--black-text);
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  font-size: 1.875em;
  font-weight: 600;
  line-height: 28px;
}
.blog__articles__article p {
  margin-bottom: 45px;
}
.blog__articles__article a {
  line-height: 155.556%;
}
.blog__articles__article h4,
.blog__articles__article p {
  opacity: 0;
  transition: all 1s;
}
.blog__articles__article h4,
.blog__articles__article p,
.blog__articles__article a {
  align-self: start;
  margin-left: 45px;
}
.blog__articles__article__image {
  transform: scale(0.9);
  height: 386px;
  transition: all 0.3s;
  transform: scale(0.8);
}
.blog__articles__article__image:hover {
  transform: scale(0.9);
}
.blog__articles__article__image img {
  border-radius: 140px 0px;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 1s, transform 0.3s;
}
.blog__articles__article:hover h4,
.blog__articles__article:hover p {
  opacity: 1;
}
.blog__articles__article:hover__image {
  transform: scale(0.9);
}

.shop {
  margin-bottom: 100px;
  position: relative;
}
.shop .decore {
  position: absolute;
}
.shop .decore-top {
  bottom: 90%;
  right: 0;
}
.shop .decore-bottom {
  top: 100%;
  left: 0;
}
.shop__wrapper {
  text-align: center;
}
.shop__wrapper h2:after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  margin: 40px auto;
  background-color: var(--grey-underline);
}
.shop__wrapper p {
  width: 45%;
  margin: 40px auto;
}
.shop__form {
  width: 50%;
  margin: 0 auto;
}
.shop__form input {
  color: #646464;
  font-family: "Raleway", Tahoma, Verdana, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 305.556%;
  padding-left: 40px;
  border: none;
  border-radius: 20px 0px;
  background: var(--grey-input);
}
.shop__form__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 60px;
}
.shop__form__name input {
  width: 100%;
}
.shop__form__email {
  margin-bottom: 80px;
}
.shop__form__email input {
  width: 100%;
}
.shop__form .warnings {
  margin: 30px 0;
  color: var(--invalid);
  font-family: "Poppins", Tahoma, Verdana, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}
.shop__form input[type=button] {
  border-radius: 0px 0px 20px 0px;
  line-height: 305.556%;
  cursor: pointer;
  padding: 5px 40px;
}
.shop__form .invalid {
  border: 1px var(--invalid) solid;
}

.footer {
  background-color: var(--grey-background);
  padding: 90px 0 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 70px;
}
.footer__lists__main {
  width: 30%;
}
.footer__lists h4 {
  color: var(--black-text);
  font-family: "Open Sans", Tahoma, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 166.667%;
}
.footer__lists p,
.footer__lists a {
  text-decoration: none;
}
.footer__lists a {
  line-height: 40px;
}
.footer__lists nav h4,
.footer__lists nav img {
  margin-bottom: 30px;
}
.footer__lists__social {
  text-align: center;
}
.footer__lists__social ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.footer__lists__social ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--grey-medias);
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__lists__social ul li a:hover {
  background-color: var(--green-medias);
}
.footer__lists__social ul li a img {
  margin: 0;
}
.footer__line {
  width: 100%;
  background-color: var(--grey-underline);
  height: 1px;
}
.footer__copyright {
  text-align: center;
  border-top: 1px var(--grey-underline) solid;
  padding: 15px 0;
}/*# sourceMappingURL=style.css.map */