.footer {
    background-color: var(--grey-background);
    padding: 90px 0 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 70px;

        &__main {
            width: 30%;
        }

        h4 {
            color: var(--black-text);
            font-family: "Open Sans", Tahoma, Verdana, sans-serif;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 166.667%;
        }

        p,
        a {
            @extend %p-style;
            text-decoration: none;
        }

        a {
            line-height: 40px;
        }

        nav {

            h4,
            img {
                margin-bottom: 30px;
            }
        }

        &__social {
            text-align: center;

            ul {
                display: flex;
                justify-content: center;
                gap: 8px;

                li a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    background-color: var(--grey-medias);
                    border-radius: 50%;
                    transition: all .3s;

                    &:hover {
                        background-color: var(--green-medias);
                    }

                    img {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__line {
        width: 100%;
        background-color: var(--grey-underline);
        height: 1px;
    }

    &__copyright {
        @extend %p-style;
        text-align: center;
        border-top: 1px var(--grey-underline) solid;
        padding: 15px 0;
    }
}