.loading{
    @extend %temporary-pages;
    &__round{
        width: 20px;
        height: 20px;
        background-color: var(--grey-block);
        border-radius: 50%;
        animation: loading 1s infinite ease-in-out;
    }
    :nth-child(2){
        animation-delay: .1s;
    }
    :nth-child(3){
        animation-delay: .2s;
    }
    :nth-child(4){
        animation-delay: .3s;
    }
    :nth-child(5){
        animation-delay: .4s;
    }
}