html{
    --black-text: #212121;
    --grey-text: #646464;
    --brown-text: #CAA892;
    --white-text: #FFFFFF;
    --green-text: #37806B;

    --black-block: #212121;
    --light-grey-block: #E0E0E0;
    --grey-block: #646464;
    --brown-block: #CAA892;
    --white-block: #FFFFFF;
    --green-block: #37806B;

    --black-border: #212121;
    --brown-border: #CAA892;
    --white-border: #FFFFFF;
    --green-border: #37806B;
    --orange-border: #B0855B;

    --grey-background: #F8F8F8;
}