.about {
    margin-top: 250px;
    position: relative;

    .decore {
        position: absolute;
    }

    .decore-top {
        left: 0;
        top: 50%;
    }

    .decore-bottom {
        right: 0;
        top: 80%;
    }

    &__wrapper {

        h2 {
            @extend %h2-style;
            line-height: 118.75%;
            margin: 30px 0;
        }

        a {
            @extend %button-style;
        }
    }

    &__top {
        display: flex;
        flex-direction: row-reverse;
        gap: 150px;

        h3 {
            @extend %h3-style;
        }

        p {
            @extend %p-style;
        }

        &__content {
            width: 100%;
            margin-top: 30px;
        }

        &__image {
            @extend %image-block-style;

            img {
                @extend %image-style;
                top: 30px;
                left: 30px;
                border-radius: 140px 0px;
            }
        }
    }

    &__bottom {
        margin-top: 200px;
        background-color: var(--white-block);
        display: flex;
        align-items: center;
        gap: 150px;

        &__content {
            p {
                background: url(../images/twenty-background.png) 12px 100px;
                background-clip: text;
                height: 350px;
                color: transparent;
                font-size: 18em;
                font-weight: 700;
                font-family: "Open Sans", Tahoma, Verdana, sans-serif;
            }

            h2 {
                margin: 10px 0 20px;
            }
        }

        &__image {
            @extend %image-block-style;
            width: 70%;

            img {
                @extend %image-style;
                bottom: 30px;
                right: 30px;
                border-radius: 140px 0px;
            }
        }
    }
}