.project {
    margin: 50px 0;
    position: relative;

    .decore {
        position: absolute;
        top: 90%;
        left: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    &__content {

        h3 {
            @extend %h3-style;
        }

        h2 {
            font-family: "Poppins", Tahoma, Verdana, sans-serif;
            color: var(--black-text);
            font-size: 4.75em;
            font-weight: 600;
            line-height: 108.333%;
            margin-bottom: 25px;
        }

        p {
            @extend %p-style;
            margin-bottom: 50px;
        }

        a {
            @extend %button-style;
        }
    }

    &__image {
        @extend %image-block-style;

        img {
            @extend %image-style;
            bottom: 30px;
            right: 30px;
        }
    }
}